@import './../../bootstrap-variables';

dd {
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.content-map {
    font-family: Montserrat;
    // overflow:auto;
    text-transform: capitalize;
}

.monto {
    font-family: Mestiza-Bold;
    font-size: 1.5rem;
    color: $wine;
    font-weight: 800;
}

.contrato {
    font-family: Montserrat;
    font-size: 1.1rem;
    font-weight: 500;
}

.avance {
    font-family: Mestiza-Bold;
    font-size: 2rem;
    color: $wine;
    font-weight: 500;
}

.cuadrito {

    border-radius: 8px;
    border: 1px solid $gris-oxford;
    min-height: 60px;
}

.max-popup {
    width: 120%;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.scrollable {
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.non-scrollable {
    overflow: hidden;
}

.header {
    background-color: #464646;
    text-align: center;
    color: white;
    line-height: 2em;
    margin: 5px 0px;
}