<div id="select-container">
  <div class="mainContainer" *ngIf="!esMunicipioActivo">
    <button (click)="handleButtonClick()" class="dropdown-button">
      <span class="buttonText">Seleccione un municipio</span>
      <i [ngClass]="iconClass" id="button-icon"></i>
    </button>
    <div *ngIf="isButtonActive" class="position-relative municipiosItems">
      <div *ngFor="let municipio of municipios" (click)="manejarMunicipioClick(municipio.id)">
        {{municipio.nombre}}
      </div>
    </div>
  </div>
  <div class="mainContainer" *ngIf="esMunicipioActivo">
    <button class="dropdown-button">
      <i class="fa-solid fa-arrow-left" id="backClimaButton" (click)="manejarBotonClimaClick()"></i>
      <span>Clima Actual</span>
      <i [ngClass]="iconClass" id="button-icon" (click)="handleButtonClick()"></i>
    </button>
    <div *ngIf="!!municipioClima.id && isButtonActive" id="municipioWeather">
      <div class="container">
        <div class="row">
          <div class="col-12 fs-1 mt-2 fw-bold">{{municipioClima?.name}}</div>
          <div class="col-12">{{ municipioClima.weather[0].description.toUpperCase() }}</div>
        </div>
        <div class="row">
          <div class="col-12 header">Información</div>
        </div>
        <div class="row mt-2">
          <div class="col-8 container">
            <div class="col-12 fs-1">{{ municipioClima.main?.temp | number: '.0-0' }}°C</div>
            <div class="row">
              <div class="col-6">Max: {{ municipioClima.main?.temp_max | number: '.0-0' }}°</div>
              <div class="col-6">Min: {{ municipioClima.main?.temp_min | number: '.0-0' }}°</div>
            </div>
          </div>
          <div class="col-4 text-start fs-1 align-self-center">
            <img [src]="municipioClima.icono"/>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4">
            <i class="fa-solid fa-wind"></i>
          </div>
          <div class="col-8">
            {{ (municipioClima?.wind?.speed * 3600) / 1000 | number: '.0-2' }} km/h
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4">
            <i class="fa-solid fa-cloud"></i>
          </div>
          <div class="col-8">
            {{ municipioClima?.clouds.all }}%
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4">
            <i class="fa-solid fa-cloud-showers-heavy"></i>
          </div>
          <div class="col-8">
            0 mm
          </div>
        </div>
        <div class="row">
          <div class="col-12 header">Pronóstico</div>
        </div>
        <div class="row justify-content-end col-12">
          Max - Min
        </div>
        <div class="row mt-2 align-items-center pronostico_item" *ngFor="let dia of pronosticosClima">
          <div class="col-4">
            {{dia.dt_full}}
          </div>
          <div class="col-4">
            <img [src]="dia.weather[0].icon"/>
          </div>
          <div class="col-4">
            {{ dia.temp.max | number: '.0-0' }}° - {{ dia.temp.min | number: '.0-0' }}°
          </div>
          <div class="pronostico_card container">
            <div class="row">
              <p class="col-12">
                {{ dia.weather[0].description }}
              </p>
            </div>
            <div class="row">
              <div class="col-12">
                <b>Viento:</b><br>
                {{ dia.speed }}km/h
              </div>
              <div class="col-12">
                <b>Nubosidad:</b><br>
                {{ dia.clouds }}%
              </div>
              <div class="col-12">
                <b>Precipitación:</b><br>
                {{ dia.pop }}mm
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>