.mainContainer {
  width: 100%;
}

#button-icon {
  float: inline-end;
  margin-right: 10px;
  margin-top: 0.8em;
}

#backClimaButton {
  float: inline-start;
  margin-left: 10px;
  margin-top: 0.8em;
}

.dropdown-button {
  border: none;
  line-height: 2.5em;
  box-shadow: none;
  width: 100%;
  background-color: #2e2e2e;
  color: white;
}

#municipioWeather {
  position: relative;
  background-color: #737373;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}

.buttonText {
  margin-left: 10px;
}

.municipiosItems {
  line-height: 2em;
  color: white;
  text-align: center;
  top: 0px;
  background-color: #464646;

  :hover {
    cursor: pointer;
    background-color: #737373;
  }
}

.header {
  background-color: #464646;
  text-align: center;
  color: white;
  line-height: 2em;
}

.pronostico_card {
  position: absolute;
  background-color: #636363;
  color: white;
  right: 105%;
  width: 50%;
  visibility: hidden;

  ::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -10px;
    /* Half of the border-width to center the triangle vertically */
    border-width: 10px;
    /* Set the size of your triangle */
    border-style: solid;
    border-color: transparent transparent transparent #434343;
    /* Set the color of your triangle */
  }
}

.pronostico_item {

  :hover {
    cursor: pointer;
  }
}

.pronostico_item:hover>.pronostico_card {
  visibility: visible;
}