<div id="map">
</div>
<div id="weatherButtonsContainer" class="">
    <button (click)="handleMunicipiosButtonClick()" class="floating">
        <i class="fa-solid fa-earth-americas"></i>
    </button>
    <button (click)="handleCloudsButtonClick()">
        <i class="fa-solid fa-cloud" style="color: #ffffff;"></i>
    </button>
    <button (click)="handleRainButtonClick()">
        <i class="fa-solid fa-cloud-showers-heavy"></i>
    </button>
    <button (click)="handleWindButtonClick()">
        <i class="fa-solid fa-wind"></i>
    </button>
    <button (click)="handleDamButtonClick()">
        <i class="fa-solid fa-water"></i>
    </button>
</div>

<app-progress-circle></app-progress-circle>