#map {
  width: 100%;
  height: 100vh;
}

#weatherButtonsContainer {
  position: absolute;
  top: 20%;
  left: 20px;
  padding: 5px;
  z-index: 400;
  border-radius: 20px;
  background-color: #2d2d2d00;
  border: none;
  max-width: 80px;

  button {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
    background-color: #2e2e2e;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0; // Remove margin for the last button
    }

    &:hover {
      background-color: #5c5c5c;
    }

    i {
      font-size: 2.5em;

      @media only screen and (max-width: 800px) {
        font-size: 2em;
      }

      @media only screen and (max-width: 600px) {
        font-size: 1.5em;
      }

      @media only screen and (max-width: 400px) {
        font-size: 1em;
      }

      
    }
  }

  .wb-active {
    color: orange;
  }

  @media only screen and (max-width: 800px) {
    max-width: 70px;
  }

  @media only screen and (max-width: 600px) {
    max-width: 60px;
  }

  @media only screen and (max-width: 400px) {
    max-width: 50px;
  }

  @media only screen and (max-width: 150px) {
    max-width: 40px;
  }
}

::ng-deep .custom-popup {
  width: 400px !important;
}